<div class="container">
  <section class="section__uploaded">
    <h2>Your image was uploaded!</h2>
    <div class="uploaded-box">     
      <img src="{{imageUrl}}?format=jpg&process=always&maxwidth=900" class="uploaded-img">
    </div>
    <div class="imageLink">
      <input type="text" name="image-url" type="text" id="image-url" class="image-link btn" value="{{shortImageUrl}}">
    </div>
    {{!-- <p>this is a title</p> --}}
    {{!-- <p>this is a description</p> --}}
    <div class="tooltip">
      <button onclick="copyTextFunction()" onmouseout="outFunc()" class="btn btn-primary">
        <span class="tooltiptext" id="tooltip">Copy to clipboard</span>
        Copy Link
      </button>
    </div>
  </section>
  

  <section class="section__options">
    <h3>Choose additional adjustements to your image:</h3>
    <form id="form-options">
     <div class="options__simple">
        <div>
          <input type="radio" name="simple" value="original" id="original" checked="true">
          <label for="original">Original</label>
        </div>
        <div>      
          <input type="radio" name="simple" value="grayscale" id="grayscale">
          <label for="grayscale">Grayscale</label>
        </div>
        <div>      
          <input type="radio" name="simple" value="sepia" id="sepia">
          <label for="sepia">Sepia</label>
        </div>
        <div>      
          <input type="radio" name="simple" value="invert" id="invert">
          <label for="invert">Invert</label>
        </div>
      </div> 
      <button onclick="adjustImage()" type="button" class="btn btn-primary" id="adjust-btn">Adjust image</button>
    </form>    
  </section>  
  
  <p class="return">
    <a href="/">Upload new image</a>
  </p>
</div>

<script>

  function copyTextFunction() {
    let copyText = document.getElementById("image-url");

    copyText.focus();
    copyText.select();

    copyText.setSelectionRange(0, 99999); /*for mobile devices*/

    document.execCommand("copy");

    let tooltip = document.getElementById("tooltip");
    tooltip.innerHTML = "Copied: " + copyText.value;
  }

  function outFunc() {
      var tooltip = document.getElementById("tooltip");
      tooltip.innerHTML = "Copy to clipboard";
    }
 
  function adjustImage() {
    const originalOption = document.getElementById('original');
    const grayscaleOption = document.getElementById('grayscale');
    const sepiaOption = document.getElementById('sepia');
    const invertOption = document.getElementById('invert');
    const uploadedImg = document.querySelector('.uploaded-img');
    let imageSrc = "{{imageUrl}}?format=jpg&process=always&maxwidth=900";

    console.log('uploadedImg ' + imageSrc);

    if (originalOption.checked) {
      uploadedImg.setAttribute('src', imageSrc);
      console.log('btn orig');
    }

    if (grayscaleOption.checked) {
      uploadedImg.setAttribute('src', imageSrc + '&s.grayscale=true');
      console.log('btn grey');
    }

    if (sepiaOption.checked) {
      uploadedImg.setAttribute('src', imageSrc + '&s.sepia=true');
      console.log('btn sepia');
    }

    if (invertOption.checked) {
      uploadedImg.setAttribute('src', imageSrc + '&s.invert=true');
      console.log('btn invert');
    }

    console.log('uploadedImg ' + uploadedImg.src);
  } 

</script>