  <div style="display: inline-block;">
    <a href="{{shortUrl}}">
      <img src="{{imageUrl}}?format=jpg&process=always&maxwidth=900">
    </a>
  </div>


<div class="small">
  <small>&copy Pic Ninja, v04</small>
</div>