<div class="container">

  <h1>Your image was uploaded!</h1>

  <p>{{message}}
    <div>
      <a href="{{imageUrl}}">{{imageUrl}}</a>
    </div>    
  </p>
  <p class="return">
    <a href="/">Return home to view thumbnails</a>
  </p>  
</div>