<div class="wrapper">
  <div class="container success-container">

    <h1>Success!</h1>

    <p>{{message}}
      <a href="{{imageUrl}}">{{imageUrl}}</a>
    </p>
    <a href="/">Return home to view thumbnails</a>
  </div>
</div>