@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {  
  background: #0f0e17;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

a {
  color: #ff8906;
  cursor: pointer;
  text-decoration: none;
}

p {
  font-size: 1rem;
  color: #3f3d56;
  padding-bottom: 1rem;
}

h1 {
  margin-bottom: 2rem;
  font-size: 3rem;
  letter-spacing: .1rem;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  color: #3f3d56;
  margin-bottom: 1rem;
  font-size: 2rem;
  text-align: center;
}

h3 {
  color: #3f3d56;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

.btn {
  display: inline-block;
  border-radius: 1rem;
  border: 1px solid #0f0e17; 
  padding: .8rem 2rem;
  margin-bottom: 1rem;
  width: 100%;
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase; 
  transition: all 0.5s;
  cursor: pointer;  
}

.btn-primary {
  background-color: #ff8906;
  color: #fffffe;
}

.btn-primary a {
  color: #fffffe;
}

.btn-primary:hover {
  background-color: #3f3d56;
  color: #fffffe;
}

.btn-secondary {
  background-color: #fffffe;
  color: #3f3d56;
}

.btn-secondary:hover {
  background-color: #3f3d56;
  color: #fffffe;
}

.container {
  margin: 2rem auto;  
  max-width: 900px;
  padding: 2rem;
  background: #fffffe;
  border: .3rem solid #864c0a;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(min-content, 20rem) .7fr .1fr .1fr;
  gap: 2rem;
}

.main__image-img {
  width: 100%;
}

/******-----Index page-----*******/
/*----Upload---*/

.section__intro {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.section__upload {
  position: relative; 
  grid-column: 1 / 2; 
  grid-row: 2 / 3;
}

.drop-zone {
  height: 20vh;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  cursor: pointer;
  color: #3f3d56;
  border: .2rem dashed #ff8906;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.drop-zone--over {
  border-style: solid;
}

.drop-zone__input {
  display: none;
}

.drop-zone__thumb {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  overflow: hidden;
  background-color: #3f3d56;
  background-size: cover;
  position: relative;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: .5rem 0;
  color: #fffffe;
  background: rgba(0, 0, 0, 0.75);
  font-size: 1.4rem;
  text-align: center;
}

.file-upload__label {
  display: block;
  max-width: 350px;
  padding-bottom: 1rem;
  font-size: 1rem;
  text-overflow: hidden;
  overflow: hidden;
  white-space: nowrap;
}

.small {
  padding: 1rem 0;
  text-align: center;
  color: #3f3d56;
}

/*----Section About---*/
.section__about {
  margin-top: 4rem;
}

.section__about-title {
  font-size: 1.6rem;
  text-align: left;
}

/*----Section contact---*/
.section__contact {
  text-align: right;
}

.section__contact i {
  color: #3f3d56;
  padding: .3rem;
  font-size: 1.5rem;
  transition: color .5s;
}

.section__contact i:hover {
  color: #ff8906;
}

/********-----Image page-----********/
/*----Uploaded image---*/
.section__uploaded {
  grid-column: 1 / 2; 
  grid-row: 1 / 2;
}

.uploaded__img { 
  object-fit: scale-down;
  max-width: 18rem;
}

.uploaded__link {
  position: relative;
}

.uploaded__link-title {
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.uploaded__link-image {
  text-transform: initial;
  display: inline-block;
  width: 100%;
  text-align: left;
  font-size: .9rem;
  transition: all 0.5s;
  cursor: pointer; 
}

.uploaded__link-btn {
  position: absolute;
  top: 2.2rem;
  right: 0;  
  background-color: #ff8906;
  color: #fffffe;
  display: inline-block;
  border-radius: 0 1rem 1rem 0;
  border: 1px solid #0f0e17; 
  padding: .8rem 1.2rem;
  font-size: .9rem;
  text-align: center;
  text-transform: uppercase; 
  transition: all 0.5s;
  cursor: pointer;  
}

.copied-message1,
.copied-message2 {
  text-align: right; 
  display: none;
}


/*----Options---*/
.section__options {
  margin-top: 3rem;
  grid-column: 1 / 2; 
  grid-row: 2 / 3;
}

.options__simple {
  border-radius: 1rem;
  width: 100%;
  border: 1px solid #0f0e17;
  padding: 1rem 3rem 1rem 2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-size: 1rem;
  background-color: #fffffe;
  color: #3f3d56;
}

.options__simple input {
  margin-right: 1rem;
}

.options__btn {
  width: 100%;
}


/*----Information---*/
.section__metadata {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  margin-top: 2.5rem;
}

.section__metadata-item {
  list-style: none;
  padding: .3rem 0;
}



/*----Return---*/
.section__return {
 grid-column: 1 / 2;
 grid-row: 4 / 5;
}


/**Media queries**/


@media screen and (min-width: 530px) {
  .uploaded__img {
    max-width: 28rem;
  }
}

@media screen and (min-width: 768px) {
  .container {
    grid-template-columns: minmax(min-content, 30rem) 1fr;
    grid-template-rows: minmax(min-content, 20rem) .7fr .1fr;
  }

  .section__metadata {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .section__return {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .section__contact {    
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .uploaded__img {
    max-width: 30rem;
  }
}